.burger{
    height: 50px;
    padding: 1rem;
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #111111 !important;
        width: 300px;
    
        .menu-item{
            a{
                color: #ffffff;
                text-transform: capitalize;
                font-size: 20px;
                font-family: 'Roboto-Thin' !important;
                text-decoration: none;
                margin: .5rem 0;
            }
            .icon{
                color: #ffffff;
            }
        }
    }
}