.about{
    min-height: 100vh;
    background: $about-back;
    .head{
        .avatar{
            width: 80px;
            height: 80px;
            margin: 0 2rem 0 0;
        }
        .name{
            font-family: 'Roboto-Thin';
            color: $white;
        }
    }
    .info{
        p{
            color: $white;
            font-size: 16px;
        }
    }
}