.experience{
    min-height: 100vh;
    background: $white;
    .info{
        width: 900px;
        h3{
            color: $dark-side;
            margin: 1rem .5rem;
        }
        .job{
            border: 1px solid $lightGrey;
            margin: 1rem 1rem 0 0;
            padding: 1rem;
            border-radius: 5px;
            width: 400px;
            .icon{
                width: 50px;
                height: 50px;
                margin: 0px 1rem 0 0;
                color: $lightGrey;
            }
            .job-info{
                height: 100px;
                .company, .position, .date{
                    color: $grey;
                    margin: .15rem;
                }
                .position{
                    color: $dark-side;
                }
            }
        }
    }
    .stack{
        width: 900px;
        .box-title{
            margin-bottom: 1rem;
        }
        .tech-stack{
            padding: .2rem;
            font-family: 'Roboto-Light';
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 768px){
    .experience{
        min-height: 100vh;
        overflow: auto;
        .info{
            min-width: 0px;
            width: 100%;
            h3{
                color: $grey;
                margin: 1rem .5rem;
            }
            .job{
                width: 100%;
                margin: .5rem 0 0 0;
                padding: .5rem 1rem;
                ;
                .icon{
                    width: 50px;
                    height: 50px;
                    margin: 0px .5rem 0 0;
                    color: $grey;
                }
                .job-info{
                    height: 80px;
                    .company, .position, .date{
                        margin: .2rem;
                    }
                    .position{
                        font-size: 20px;
                    }
                    .company{
                        font-size: 14px;
                    }
                    .date{
                        font-size: 12px;
                    }
                }
            }
        }
        .stack{
            width: 100%;
        }
    }
}