
.home{
    min-height: 100vh;
    background: $white;
    .murad{
        min-width: 100px;
        max-width: 300px;
        min-height: 150px;
        border-radius: 5px;
    }
    .info{
        .name, .degree, .city{
            margin: .3rem 0;
            color: $dark-side;
        }
        .degree{
            font-family: 'Roboto-Regular';
        }
        .city{
            font-family: 'Roboto-Light';
        }
        .resume-btn{
            margin: 1rem 0;
            border-color: $white;
            color: $white;
            background: $dark-side;
            padding: .75rem 1.5rem;
            text-decoration: none;
            border-radius: 5px;

            &:hover{
                color: $white;
                border-color: $white;
                background: $dark-side;
            }
        }
        .social-icon{
            color: $dark-side;
            font-size: 28px;
            margin-right: 1rem;
        }
        .stack-icon{
            width: 20px;
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 768px){
    .home{
        min-height: calc(100vh);
        .murad{
            min-width: 100px;
            max-width: 250px;
            min-height: 150px;
            border-radius: 10px;
        }
        .info{
            align-items: center !important;
            .name, .degree, .city{
                margin: .5rem 0;
            }
            .name{
                font-size: 24px !important;
            }
            .degree{
                font-size: 20px;
            }
            .resume-btn{
                padding: .3rem 1.5rem;
            }
            .box{
                padding-left: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .home{
        min-height: calc(100vh - 50px);
    }
}