@import './fonts.scss';
@import './variables.scss';
@import './utils.scss';
@import './home.scss';
@import './about.scss';
@import './projects.scss';
@import './contact.scss';
@import './experience.scss';


* {
  box-sizing: border-box !important;
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  font-family: 'Roboto-Regular';
  color: #333333;

  h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto-Regular';
    letter-spacing: 2px;
  }

  p{
    font-family: 'Roboto-Light';
    line-height: 1.5rem;
    letter-spacing: 1.5px;
  }
}
.box-title{
  font-family: 'Roboto-Regular';
  font-size: 28px;
  text-transform: capitalize;
  margin: 0;
  width: 100% !important;
}
.subtitle{
  font-family: 'Roboto-Regular';
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  width: 100% !important;
}
.small-title{
  font-family: 'Roboto-Regular';
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  width: 100% !important;
}