.t-c {text-align: center;}
.m-t {margin-top: 2rem;}
.m-b {margin-bottom: 2rem;}
.m-l {margin-left: 2rem;}
.m-r {margin-right: 2rem;}
.f-r {float: right;}
.f-l {float: left;}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 .pointer{cursor: pointer;}
