@import '../../assets/scss/variables.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-side !important;
    min-width: 25%;
    max-width: 33.3%;

    .menu-item{
        a{
            color: $white;
            text-transform: capitalize;
            font-size: 18px;
            font-family: 'Roboto-Regular' !important;
            text-decoration: none;
            margin: .5rem 0;
        }
        .icon{
            color: $white;
        }
    }
}